doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="manifest", href="manifest.json")
    title &#x505A;&#x91CE;&#x5566;&#x67D2;&#x982D;
    // Bootstrap
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Work')
    link(rel='apple-touch-icon', href='res/icon-144x144.png')
    meta(name='msapplication-TileImage', content='res/icon-144x144.png')
    meta(name='msapplication-TileColor', content='#2F3BA2')
    link(href='vendor/css/bootstrap.css', rel='stylesheet')
    // Custom css
    link(href='css/todo.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      | &#x9;
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    #todo-app.container
      .row
        .col-md-8.col-md-offset-2
          // Header
          h3.text-center &#x505A;&#x91CE;&#x5566;&#x67D2;&#x982D;
          // Input box
          .form-group
            input.todo-input.form-control.input-lg.text-center(type='text')
          // List
          .well
            .list-group.todo-list
          // Conclusion (progress bar, total time used)
          .well
            #progress
              h4.progress-text &#x5C4C;&#x505A;&#x5514;&#x649A;&#x5B8C;&#x5440;
              | &#x9;
              .progress
                .progress-bar
    script(src='vendor/js/jquery-1.11.1.min.js')
    script(src='vendor/js/bootstrap.min.js')
    script(src='js/app.js')
